html{
	height: 100%;
}
body{
	margin:0px 0px;
	padding: 0px 0px;
	min-height: 100% ;
	background: -moz-linear-gradient(left, blue, green);
	background: -webkit-linear-gradient(top, rgb(70,70,70),rgb(170,170,170));
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer; 
}
header{
	margin: 0px;
	font-size: 0.6em;
	text-align: center;
	font-weight: bold ; 
	font-family: "calibri";
	background: -moz-linear-gradient(right, rgb(100,100,100), blue);
	background: -webkit-linear-gradient(right, rgb(100,100,100), rgb(150,150,150));
	background-size: 100% 1000px;
	position: fixed;
	width: 100%;
	min-width: 100px;
}
h1{
	margin: 0px 15px;
	padding: 3px;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}

}
#push{
	margin-left: auto;
}
.cover{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
div{

	background-image: url(https://wallpapercave.com/wp/wp3049884.jpg);
	background-size: cover;
}
#ccc{
	width: 100%;
	max-width: 1000px;
	height: 400px;
	padding: 0px;
	border:0px 5px;
	border-color: rgba(80,80,80,.5);

}
img:hover{
	cursor: pointer;
}
h2{
	text-overflow: none;
}
#logo{
	width: 90px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}
#home{
	border-radius: 2.5px;
	background-color: white;
}
@media only screen and (max-width: 750px){
	h1{
		font-size: 1.5em;
		margin: 0px 5px;
	}
	#logo{
	width: 75px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}
}
@media only screen and (max-width: 510px){
	h1{
		font-size: 1.4em;
		margin: 0px 3px;
	}
	#logo{
	width: 69px;
	height: 23px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}
}
li{
	border-width: 2px;
	border-color: white;
}